@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <p>The trial license for this payment method can only be used to submit test orders of $5.00 or less.</p>
            <p>To purchase a full license, visit our website for more information.</p>
        </td>
    </tr>
</table>